---
import { Image } from "astro:assets";
import serviceimg1 from "../assets/pics/serviceimg1.png"
import serviceimg2 from "../assets/pics/serviceimg2.png"
import serviceimg3 from "../assets/pics/serviceimg3.png"
import serviceimg4 from "../assets/pics/serviceimg4.png"
import serviceimg5 from "../assets/pics/serviceimg5.png"
import serviceimg6 from "../assets/pics/serviceimg6.png"
---
<div class="body p-5">
  <div class="title">
    <h1 class="mb-4">Our Services</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>  
  </div>
  <div class="container p-0">
    <div class="row gy-5 p-0">
      <div class="items border text-center visible">
        <Image src={serviceimg1} alt="" class="img-fluid"/>
        <h4>One Bedroom Apartment</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros.</p>
      </div>
      <div class="items border text-center visible">
        <Image src={serviceimg2} alt="" class="img-fluid"/>
        <h4>Window Cleaning</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros.</p>
      </div>
      <div class="items border text-center visible">
        <Image src={serviceimg3} alt="" class="img-fluid"/>
        <h4>Residential Cleaning</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros.</p>
      </div>
      <div class="items border text-center visible">
        <Image src={serviceimg4} alt="" class="img-fluid"/>
        <h4>Construction Cleaning</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros.</p>
      </div>
      <div class="items border text-center">
        <Image src={serviceimg5} alt="" class="img-fluid"/>
        <h4>Commercial Cleaning</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros.</p>
      </div>
      <div class="items border text-center">
        <Image src={serviceimg6} alt="" class="img-fluid"/>
        <h4>Two Bedroom Apartment</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros.</p>
      </div>  
    </div>
    <div class="text-center">
      <button id="view-all-btn" class="btn btn-light w-100 mt-3 view-all-btn">View All</button>
    </div>
  </div>  
</div>

<style>
  .body {
    background-color: var(--light-color);
  }

  h1, h4 {
    font-family: "Roboto";
    font-weight: 700;
  }

  .title {
    text-align: center;
    padding: 60px 0;
  }

  .row {
    justify-content: space-around;
  }

  .items {
    max-width: 416px;
    padding: 0;
    border-radius: 5px;
  }

  .img-fluid {
    max-width: 100%;
  }

  .items h4 {
    padding: 30px 0 10px 0;
    margin: 0;
  }

  .items p {
    padding: 10px 40px;
  }

  /* hide items in the beginning */
  .items {
    display: none;
  }

  /* mobile show 4 items */
  .items.visible {
    display: block;
  }

  .view-all-btn {
    border: 1px solid var(--primary-color);
  }

  @media (min-width: 1200px) {
    .items {
      display: block;
    }
    #view-all-btn {
      display: none;
    }
  }

</style>

<script>
  const viewButton = document.getElementById('view-all-btn');
  const items = document.querySelectorAll('.items');
  let isExpanded = false;
  
if(viewButton){
  viewButton.addEventListener('click', () => {
        if (isExpanded) {
          // just show 4 items
          items.forEach((item, index) => {
            if (index < 4) {
              item.classList.add('visible');
            } else {
              item.classList.remove('visible');
            }
          });
          viewButton.textContent = 'View All';
        } else {
          // show everything
          items.forEach(item => item.classList.add('visible'));
          viewButton.textContent = 'View Less';
        }
        isExpanded = !isExpanded;
      });
    }
</script>